body {
    background-color: rgb(58, 56, 56);
    color: white;
    font-size: medium;
    font-family:  Tahoma, 'Courier New', 'Times New Roman';
}
h1, h3 {
    color: rgb(22, 160, 214);
    font-weight: 100;
}
a {
    color: red;
    text-decoration: none;
}
.hobby {
    color:yellow;
}
a:hover {
    text-decoration: underline;
  }
p::first-letter {    
    font-size: 1.5em;
  }
dt {      
     color: yellow;
  }



